.profileContainer {
  padding: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.tabsContainer {
  composes: profileContainer;
}

.noBooks {
  margin-top: 16px;
}

.noTrades {
  margin-top: 16px;
}

.noMessages {
  margin-top: 16px;
}

@media(max-width: 768px) {
  .tabsContainer {
    composes: profileContainer;
    margin-top: 16px;
  }
}

.thumbnail {
  display: block;
  margin: 0 auto;
  height: 180px;
  width: 180px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.publicList {
  list-style-type: none;
  padding-left: 0;
}

.publicInfo {
  float: right;
}

.bookSearch {
  margin-top: 16px;
}

.tradeLink {
  background-color: #dfdfdf;
  margin: 8px;
  padding: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.tradeLink * {
  display: inline-block;
}

.tradeImage {
  height: 50px;
  width: 50px;
}

.tradePartner {
  margin-left: 32px;
}

.messageSeen {
  width: 100%;
  margin: 4px;
  padding: 8px;
  border: 1px solid #222222;
  border-radius: 3px;
}

.message {
  composes: messageSeen;
  border: 1px solid rgba(135, 206, 250, .8);
  box-shadow: 0 0 8px rgba(135, 206, 250, .8)
}

.messageText {
  margin-left: 36px;
}
